*{
    padding: 0%;
    margin: 0%;
} 
body{ 
    color: white;
    background-color: #3E5879;
      
    }
       

nav{
    display: flex;
    justify-content: space-around;
    background-color: #0d2d56;
    align-items: center;
    height: 80px;
    font-size: large;
}
nav ul{
    display: flex;
  
  
}
nav ul li{
    list-style: none;
    justify-content: space-evenly;
    margin: 0 23px;
  
}
nav ul li a{
    color: rgb(79, 160, 230);
    text-decoration: none;
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstsection > div{
    width: 30%;
}
.rightsection{
    margin-left: 50px;
   
}
.leftsection{
   
    font-size: 3rem;
    margin: 30px 20;
}
.rightsection img{
    width: 40%;
    margin-left: 60%;  
    border-radius: 10%;
}
.rightsection img:hover{
    transform: scale(1.1);   
  
}
.purple{
    color:rgb(150, 158, 245);
}
nav ul li a:hover{
 color:rgb(227, 140, 208);
 font-size: larger;
 text-decoration: underline;
}
#element{
    color:rgb(150, 158, 245);
}

.btn{
    padding: 12px;
    font-size:20px; 
    margin: 90px 50px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:#174683;
    color:white;
    
}
.btn a{
 text-decoration: none;
 color:white;
}
.btn:hover{
    transform: scale(1.1);   
}
.bg-image{
    background-image: url(web.jpeg);
}
.btns{
    padding: 12px;
    font-size:20px; 
    border: 2px solid white;
    border-radius: 5px;
    background-color:#174683;
    color:white;
 
}
.btns:hover{
    transform: scale(1.1);   
}
.contactform{
    padding: 0 40px;
  
}
.contactform form div{
    font-size: 1.5rem;
    padding: 10px 0px;
    
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.contactform h1{
text-align: center;
margin: 20px;    
}
#emailHelp{
    font-size: 12px;
    margin: 0 5px;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
  
    padding: 3px;
}
#form-check{
   display: flex;
   flex-direction: row;
 
   margin: 3px 0;
   
}
#exampleCheck1{
    width: 15px;
    margin-right: 5px;
   
}
.btn-2{
    padding: 12px;
    font-size:20px; 
    border: 2px solid white;
    border-radius: 5px;
    background-color:#174683;
    color:white;
}
.btn-2:hover{
    transform: scale(1.1);   
}
.about  h1{
    margin: 20px ;
    text-align: center;
}
.about p{
    font-size: 1.2rem;
    margin-left:  8px;
    padding: 20px;
    color:#A1E3F9;
}

.projects h2{
    margin: 5px 20px ;
  
}
.projects p{
    font-size: 1.2rem;
    margin: 2px 20px;
    padding:10px;
    color:#A1E3F9;
}
.service{
    text-align: center;
    margin: 15%;
    font-size: 4rem;
    color: #D1F8EF;
}